<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="files/style.css">
    <link rel="icon" href="files/img/icon.png">
    <title>RenMass - Авторизация</title>
</head>
<body>
    <div class="login">
        <form action="/login" method="POST" class="auth-form">
            <h1>Авторизация</h1>
            <input type="text" name="login" placeholder="Логин" class="input_wrap" required>
            <input type="password" name="password" placeholder="Пароль" class="input_wrap" required>
            <button type="submit" class="btn3"><span class="icon">➡️</span></button>
        </form>
    </div>
</body>
</html>
