<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="files/style.css">
    <link rel="icon" href="files/img/icon.png">
    <title>RenMass - Таблицы</title>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
                <img class="logo" src="files/img/icon.png">
                <span>RenMass</span>
            <hr>
            <div class="dropdown">
                <img src="files/img/users/{{ username }}.png" alt="User" class="user-icon">
                <span onclick="myFunction()" class="dropbtn">{{ first_name }} ⬇️</span>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/logout">⬅️ Выход</a>
                </div>
            </div>
            <hr>
            <nav>
                <a href="/">Главная</a>
                <a href="/message">Сообщение</a>
                <a href="#">Таблицы</a>
                <a href="/settings">Настройки</a>
            </nav>
            <hr>
            <center>
                <a>
                    Copyright<br>© Моисеенко Н. А., 2025 
                </a>
            </center>
        </aside>

        <main class="main-content">
            <div class="stats">
                {{ tables }}
            </div>
            <center>
            <div>
                <h1>Основное</h1>
            </div>
            <textarea name="users" rows="20" cols="50" class="resize: none;" disabled>{{ recipients }}</textarea>
            <form method="POST">
                <!-- CONTENT -->
                <input type="email" name="user" class="input_wrap" placeholder="Введите адрес эл.почты" required>
                <select id="action" name="action">
                    <option value="add">Добавить</option>
                    <option value="remove">Удалить</option>
                </select>
                {% if tables %}        
                <button class="btn2" type="submit">Выполнить</button>
                {% else %}
                <button class="btn2" type="submit" disabled>Выполнить</button>
                {% endif %}
            </form>
            <hr class="main">
            <h1>Управление таблицами</h4>
            <form method="POST">
                <input type="text" name="table" class="input_wrap" placeholder="Введите название таблицы" required> 
                <select id="table_action" name="table_action">
                    <option value="add">Добавить</option>
                    <option value="remove">Удалить</option>
                </select>
                <button class="btn2" type="submit">Выполнить</button>
            </form>
            </center>
            </div>
        </main>
    </div>
</body>
<script src="files/js/script.js"></script>
<script src="files/js/dropdown.js"></script>
</html>
